header {
  padding: 40px;
  background-color: #04235e;
  color: white;
  font-size: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  font-family: "Press Start 2p";
}

#small2 {
  font-size: 25px;
  font-family: "Press Start 2p";
}

body {
  background-color: aliceblue;
}

#circle2 {
  border-radius: 58px;
  border: 4px solid white;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
}

#circle2 a {
  color: white;
}

#circle2 a:hover {
  text-decoration: none;
  color: #07eaf2;
}


header>a {
  font-size: 14px;
  display: inline-block;
  position: absolute;
  right: 100px;
  background-color: white;
  color: #04235e;
  padding: 15px;
  border-radius: 58px; 
}

#nav{
  padding: 20px;
  margin-top: 166px;
  font-size: 1.8em;
  background-color: rgba(54, 140, 207, .4);
  font-family: "Press Start 2P";
  padding-right: 100px;
}

#choose {
  font-size: 60px;
  font-family: "Press Start 2P";
  padding: 20px;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 40px;
  color: #a62117;
}

#start {
  width: 100%;
}

.card img {
  max-height: 150px;
} 